.btn-custom {
  padding: 16px 30px;
  text-transform: uppercase;
  border: none !important;
  outline: none !important;
}

.btn-drop {
  display: block;
  position: relative;
}

.blue-box,
.btn-drop button {
  display: block;
  font-weight: 800;
  width: 100%;
  background: #3498db;
  padding: 0px;
  color: #fff;
  border: none;
  border-bottom: 2px solid #2a7aaf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: remove-all;
  outline: none !important;
}

.blue-box,
.btn-drop button .selected {
  padding: 13px 30px; }

.btn-drop button .arrow {
  padding: 13px 20px;
  font-size: 15px; }

.btn-drop .placehold {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent; }
.btn-drop .meni-arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2c3e50;
  position: absolute;
  top: 90%;
  right: 10px;
  z-index: 1030; }
.btn-drop ul {
  position: absolute;
  top: 110%;
  border:2px solid lighten(#2c3e50, 20%);
  right: 0px;
  width: 100%;
  background: #2c3e50;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 1030; }
.btn-drop ul li {
  color: #fff;
  display: block;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  margin: 3px; }
.btn-drop ul li:hover {
  background: #3498db;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.special-btn-nav {
  background: #3498db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 2px 10px !important;
  border-bottom: 2px solid #2a7aaf;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.22);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.22);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.22);

  a,
  a:visited,
  a:hover,
  a:active {
    color: #fff !important;
    text-decoration: none;
    font-weight: 300 !important;
    font-size: 14px;
    display: inline-block;
    padding: 5px !Important;
  }

}

.footer {
  .special-btn-nav {
     display: inline-block;
     margin: auto;
     background: #5fd879;
    border-bottom:  2px solid #4cac64;
    a {
      padding: 10px 20px;
    }
  }
}

.blue-text {
  color: #2980b9;
  font-size: 36px;
}

.blue-l-t {
  color: #3498db;
  margin: 20px 0px;
}

.bord {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 10px auto;
}

.grayed {
  background: #f5f5f5;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pad {
  padding: 10px;
}

.bor-topa {
  border-top: 1px solid #ddd;
}

.lenders {
  background: #fff;
  width: 100%;
  margin: auto;
  padding: 10px 0px;

  .slick-slider {
    margin-bottom: 0px;
  }
}

.btn-special {
  margin-top: -30px; padding-left: 30px; text-transform: uppercase;
  background: #35b364;
  border:none;
  border-bottom: 2px solid #2a8f50;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.22);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.22);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.22);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

}

.btn-smx {
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-modal{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 20px;
  margin: 0px !important;
}

.btn-facebook{
  background: #3b5998;
  color: #fff;

  &:hover {
    background: darken(#3b5998, 10%);
    color: #fff;
  }
}

.btn-google {
  background: #d95232;
  color: #fff;

  &:hover {
    background: darken(#d95232, 10%);
    color: #fff;
  }
}