.text-center-xs {
  @media screen and (max-width:$screen-xs-max){
    text-align: center;
  }
}

.text-center-sm {
  @media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max){
    text-align: center;
  }
}


.text-right-sm {
  @media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max){
    text-align: right;
  }
}

.mar-xs {
  @media screen and (max-width:$screen-sm-max){
    margin: 10px auto;
  }
}


.mar-xs-top {
  @media screen and (max-width:$screen-sm-max){
    margin-top: 50px !Important;
  }
}

.marleftright {
  margin: 0px 20px;
  max-width: 150px;
  height: 80px;
  line-height: 80px;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.text-right-md {
  @media screen and (min-width:$screen-md-min) and (max-width:$screen-md-max){
    text-align: right;
  }
}

.text-right-lg {
  @media screen and (min-width:$screen-lg-min) {
    text-align: right;
  }
}

.margin-top-bottom {
  margin: 15px 0px;
}

.text-red{
  color: $red;
}

.text-gray {
  color: #ededee;
}

@media print {
  .page-break {
    page-break-after: always;
    width: 100%;
    height: 1px;
  }
}


.progress-radial {
  margin: 10px auto;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid $backColor;
  background-color: $barColor;
  z-index: 1034;
}

.progress-radial .overlay {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: $overlayColor;
  border-radius: 50%;
  margin-left: 37px;
  margin-top: 35px;
  text-align: center;
  font-size: 28px;
  padding-top: 12px;
  font-weight: 800;

  small {
    font-size: 10px;
    display: block;
    color: #fff;
    margin-top: 13px;
  }


}

.green {
  color: #2ecc71 !important;
}

.top-mar-form {
  margin-top:30px !important;
}

@for $i from 0 through $loops {

  .progress-#{$i*$step} {
  @if $i < $half {
    $nextdeg: 90deg + ( $increment * $i );
    background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
  }
  @else {
    $nextdeg: -90deg + ( $increment * ( $i - $half ) );
    background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
  }
  }

}

.small-text {
  font-size: 12px;
}

.padding-top-bottom {
  padding: 100px 0px;
}

.whiteText {
  color: #fff !Important;
}

.no-padding {
  padding: 0px !Important;
}

.modal-padding {
  padding: 10px 15px;
}

.small-margin-top-bottom {
  margin-top: 50px;
  margin-bottom: 15px;
}

.padding-left {
  padding-left: 10px;
}

.bigF{
  font-size: 48px;
}

.padd {
  margin-top: 100px;
  padding: 100px 0px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.gray-back {
  background: #f4f5f6;
  padding: 60px 0px; }

.aleoFont {
  font-family: aleo;
}

.special-margin {
  margin: 35px auto; }

.min-height-100 {
  min-height: 170px; }

.special-margin-container {
  margin: 50px auto; }

.blue-back {
  background: #2880b9;
  color: #fff;
  padding: 20px 0px; }

.micro-margin {
  margin: 10px 0px; }

.margin-top-small {
  margin-top: 5px; }

@media screen and (min-width: 992px) {
  .padding-top {
    padding-top: 90px; } }


.light-blue-backa {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #92c6e8;
  padding-top: 15px; }

.margin-bottom-small {
  margin-bottom: 15px; }


.gray-back-b {
  background: #2c3e50;
  padding-bottom: 50px;
  color: #fff;
}

.green {
  color: #51bf87;
}


.inner-padding {
  padding-top:74px;
  padding-bottom:74px;
}

.min-height-400 {
  min-height: 400px;
}


label {
  font-size: 12px;
}

.small-padding {
  padding-right: 0px;
}

.mart {
  margin-top:8px;
}