<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Sed in tristique arcu. Donec ex lorem, aliquet in metus nec,
            tristique vehicula nisl. Duis ultrices, lorem non condimentum malesuada,
            mi sapien aliquam nisi, quis mattis dolor tellus et velit.
            Nam viverra libero vitae tortor convallis, in laoreet magna tempor.
            Etiam id malesuada ipsum, non vehicula turpis. Phasellus id metus porta,
            molestie lacus eu, volutpat ex. Proin blandit, magna vitae dapibus imperdiet,
            massa urna eleifend orci, ac varius neque urna ut dui. Vestibulum ac egestas mi.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Maecenas ligula magna, porta sit amet porttitor et, viverra vitae eros. Sed finibus sodales lectus</p>
        </div>
    </div>
</div>